@{
	ViewBag.Title = "About list";
    Layout = "_Layout";
}
<head>
    <style>
        .list_li{
	    position: absolute;
	    background-color: #21F3D7 ;
	    width: 80px;
        height: 100px;
        top: 0;
        text-decoration: none;
        color: white;
        margin-left: 73px;
}
    </style>
</head>
<div class="Right_stat">About</div>
