@{
	ViewBag.Title = "Home list";
    Layout = "_Layout";
}
<head>
	<style>
		.Button_portfolio {
			line-height: 30px;
			text-align: center;
		}
		.text_button {
			color: black;
		}
	</style>
</head>
<div class="Right_stat_info">
					<div class="q_1">
						<p class="p_1"><b>hello</b></p>
						<p class="p_2">My name is Михаил</p>
						<p class="p_3">& i am beginner c# developer</p>
						<div class="Button_portfolio">
							<a class="text_button" href="/Home/Portfolio">Portfolio</a>
						</div>
					</div>
					<div class="vert_line"></div>
					<div class="q_2">
						<img class="Left_Colum_image" src="~/image/cat.png" title="img">
					</div>
			</div>
			<div class="Right_stat">About my</div>