@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href=@Url.Content("~/css/Style_Index.css")>

	<title>A ticket to a new life</title>
</head>
<body>
	<div class="Traigle"></div>
	<div class="wrap">
		<div class="Wrapper">
			<div class="Left_stat">
				<img class="Left_Colum_image" src="~/image/cat.png" />
				<div class="Left_colum_box">
					<p>Зубенко Михаил</p>
					<p class="Left_colum_text">C# Developer</p>
				</div>
			</div>
			<div class="Right_Title">
				<div class="list_li"></div>
				<ul class="Title_list">
					<li>Home</li>
					<li>About</li>
					<li>Skils</li>
					<li>Edication</li>
					<li>Portfolio</li>
					<li>Experiece</li>
					<li>Blog</li>
					<li>Contact</li>
					<li><img class="img_menu" src="~/image/magnifier.png"></li>
					<li><img class="img_menu" src="~/image/menu.png"></li>
				</ul>
			</div>
			<div class="Right_stat_info">
					<div class="q_1">
						<p class="p_1"><b>hello</b></p>
						<p class="p_2">My name is Михаил</p>
						<p class="p_3">& i am beginner c# developer</p>
						<input type="button" value=" Portfolio " class="Button_portfolio">
						
					</div>
					<div class="vert_line"></div>
					<div class="q_2">
						<img class="Left_Colum_image" src="~/image/cat.png" title="img">
					</div>
			</div>
			<div class="Right_stat">About my</div>
		</div>
	</div>
</body>
</html>