@{
	ViewBag.Title = "Portfolio list";
    Layout = "_Layout";
}
<head>
    <style>
        .list_li{
	    position: absolute;
	    background-color: #21F3D7 ;
	    width: 80px;
        height: 100px;
        top: 0;
        margin-left: 327px;
}
    </style>
</head>
<div class="Right_stat">Portfolio</div>