.Button_portfolio_1 {
	background-color: #21F3D7;
	color: black;
	width: 90px;
	height: 30px;
	margin-top: 10px;
	margin-left: 5px;
	line-height: 30px;
	text-align: center;
}

.box_Login_out_1 {
	margin: 20px;
}

.Label_q_1 {
	margin-right: 31px;
}

.loginANDpassword_1 {
	margin-bottom: 5px;
	margin-top: 5px;
}
