
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
  color: white;
  background-color: #0A0A0A;
}
a {
	text-decoration: none;
	color: white;
}
.wrap{
	background-color: #0A0A0A;
}
.Wrapper{
	margin-top: 150px;
	background-color: #101010;
	width: 1080px;
	position: absolute;
	left: 50%;
	margin-left: -540px;
	
}
.Traigle{
	position: absolute;
	width: 0;
  height: 0;
  border-top: 350px solid #21F3D7;
  border-left: 0px solid transparent;
  border-right: 350px solid transparent;
}
.list_li {
	position: absolute;
	background-color: #21F3D7;
	width: 80px;
	height: 100px;
	top: 0;
	text-decoration: none;
	color: white;
}
.img_menu{

	width: 25px;
	height: 25px;
	margin-bottom: -5px;
}
.Button_portfolio {
	background-color: #21F3D7;
	width: 90px;
	height: 30px;
	margin-top: 10px;
	margin-left: 5px;
	line-height: 30px;
	text-align: center;
}
.text_button {
	color: black;
}
.p_1{
	font-size: 22px;
	margin: 5px;
}
.p_2{
	font-size: 18px;
	margin: 5px;
}
.p_3{
	font-size: 14px;
	margin: 5px;
}
.Left_stat{
	float: left;
	height: 1000px;
	width: 20%;
	margin: 10px;
	background-color: #222222;
}

.Right_stat_info{
	float: left;
	width: 76%;
	height: 300px;
	background-color: #222222;
	margin: 10px;

}
.vert_line{
	margin-top: 30px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
	border-left: 3px solid #282828;
    height: 180px;
}
.q_1{
	margin-left: 180px;
	margin-top: 30px;
	display: inline-block;
	vertical-align: middle;
}
.q_2{
	margin-top: 30px;
	display: inline-block;
	vertical-align: middle;

}
.Right_stat{
	float: left;
	width: 76%;
	height: 1000px;
	background-color: #222222;
	margin: 10px;
}

.Right_Title{
	float: left;
	height: 80px;
	width: 76%;
	margin: 10px;
	background-color: #222222;
}
ul.Title_list li{
	display: inline-block;
	margin: 15px;
	margin-top: 30px;
	position: relative;
}
.Left_colum_box{
	background-color: #2C2C2C;
	height: 80px;
	position: relative;
	text-align: center;

	padding-top: 22px;

}
.Left_Colum_image{
	position: initial;
	text-align: center;
	height: 200px;

}
.Left_colum_text{
	color: #21F3D7;
	font-size: 14px;
}